.offline-screen {
	background: #202124;
	color: #acacac;
	position: fixed;
	inset: 0;
	z-index: 999999;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 20vh;

	.content {
		width: 100%;
		max-width: 520px;
		text-align: left;
		padding: 0 1.5rem;
		transform: translateX(-12px);
	}

	.icon {
		width: 33px;
        height: 39px;
        margin-bottom: 40px;
        -webkit-mask: url("../img/disconnect_icon_11x13.svg") no-repeat center;
        -webkit-mask-size: contain;
        mask: url("../img/disconnect_icon_11x13.svg") no-repeat center;
        mask-size: contain;
        background-color: #acacac;
	}

	h1 {
		font-weight: 400;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: .2px;
		margin: 0 0 20px;
		color: #acacac;
	}

	p {
		margin: 0 0 20px;
		color: #acacac;
	}

	small {
		display: block;
		color: #acacac;
		font-size: 12px;
		letter-spacing: .3px;
		margin: 0 0 60px;
		text-transform: uppercase;
	}

	button {
		background: #1a73e8;
		color: #fff;
		border: none;
		padding: 8px 16px;
		border-radius: $border-radius;
		cursor: pointer;
		font-size: 14px;

		&:hover {
			background: #1967d2;
		}
	}

    &::after {
        content: "";
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 120px;
        height: 40px;
        background: url("../img/logo_inverted.png") no-repeat right bottom;
        background-size: contain;
        opacity: 0.05;
        pointer-events: none;
    }
}
