$border-radius: 30px;

// Colors
$color-primary: #5555ff;
$color-background-dark: #111111;
$color-background-medium: #222222;
$color-background-light: #333333;
$color-text: #ffffff;
$color-text-muted: #aaaaaa;
